<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "headers" }}


<script type="text/javascript">

</script>
</head>
<body onload="GetAllWords(); DisplayFeedbackItems();">
{{template "navbar"}}


{{ template "feedback" }}

</body>
<footer>
</footer>
</html>
