<!DOCTYPE html>
<html lang="en">
<head>
  
{{ template "headers" }}

<script type="text/javascript">
var LoggedInUser = "{{.Username}}";
</script>

</head>
<body onload="PreparePage(); PopulatePreviousWindows(); checkURLParms(); GetAllWords();">


{{ template "navbar" }}


{{ template "startpage" }}

</body>
<footer>
</footer>
</html>
