<!DOCTYPE html>
<html lang="en">
<head>
  
{{ template "headers" }}

<script type="text/javascript">

</script>
</head>
<body onload="PopulatePreviousWindows(); checkURLParms(); GetAllWords();">


{{ template "navbar" }}


{{ template "startpage" }}

</body>
<footer>
</footer>
</html>
