<html>
<head>
<title>title</title>
<link href="/img/telefon.ico" name="favicon" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>
<body>
<center>
<p><img src="/img/telefon.ico"></img></p>
</center>
<p>There was an error during the Oauth2 Authentication mechanism: </p>
{{.}}
</body></html>
