<!DOCTYPE html>
<html lang="en">
<head>
  <title>GSS Johari Window</title>
  <link href="/img/window.ico" name="favicon" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/johari.css">
  <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/spin.js"></script>
  <script type="text/javascript" src="/js/johari_api.js"></script>
  <script type="text/javascript" src="/js/johari.js"></script>


<script type="text/javascript">

</script>
</head>
<body onload="DisplayNavBar();">
<div id="NavBar"></div>


<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <p></p>
      <div id="DsiplayPane" class="panel-group">
        <div class="panel panel-success">
          <div class="panel-heading"><center>THANKS</center></div>
          <div class="panel-body">
          <p><center><img src="/img/thanks.jpg" width="400"></img></center></p>
          </div>
        </div>
      </div>
    </div> <!-- END COLUMN -->
    <div class="col-sm-2"></div>
  </div> <!-- END ROW -->
    
</div> <!-- END CONTAINER -->

<p></p>
</body>
<footer>
</footer>
</html>
