<!DOCTYPE html>
<html lang="en">
<head>
  
{{ template "headers" }}

<script type="text/javascript">

</script>
</head>
<body>


{{ template "navbar" }}


{{ template "thanks" }}

</body>
<footer>
</footer>
</html>
