<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "headers" }}


<script type="text/javascript">

var BASEURL = location.protocol + "//" + location.hostname + (location.port && ":" + location.port);
function PopulatePanes() {
  GetUserWindows();
}

</script>
</head>
<body onload="DisplayNavBar(); PopulatePanes();">

  {{ template "navbar" }}

  {{ template "window" }}


</body>
<footer>
</footer>
</html>
