<!DOCTYPE html>
<html lang="en">
<head>
  <title>GSS Johari Window</title>
  <link href="/img/window.ico" name="favicon" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/johari.css">
  <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/spin.js"></script>
  <script type="text/javascript" src="/js/johari_api.js"></script>
  <script type="text/javascript" src="/js/johari.js"></script>


<script type="text/javascript">

var BASEURL = {{.}}
function PopulatePanes() {
  GetUserWindows();
}

</script>
</head>
<body onload="DisplayNavBar(); PopulatePanes();">
<div id="NavBar"></div>


<div class="container">
  
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <p></p>
      <div id="DisplayPane"></div>
      <p></p>
      <div id="SumbissionStats"></div>
    </div> <!-- END COLUMN -->
    <div class="col-sm-2"></div>
  </div> <!-- END ROW -->
  
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
      <div id="JohariWindow"></div>
    </div> <!-- END COLUMN -->
    
    <div class="col-sm-5">
      <div id="CliftonWindow"></div>
    </div> <!-- END COLUMN -->
    <div class="col-sm-1"></div>
  </div> <!-- END ROW -->
  <hr>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <form class="form-inline" onSubmit="return false;">
        
        <div class="form-group">
          <label class="" for="SearchUser">User</label>
          <input type="text" class="form-control" id="SearchUser" placeholder="Search Users">
        </div>
        <div class="form-group">
          <label class="" for="SearchTheme">Theme</label>
          <input type="text" class="form-control" id="SearchTheme" placeholder="Search Themes">
        </div>
        <div class="form-group">
          <label class="" for="SearchADJ">Words</label>
          <input type="text" class="form-control" id="SearchADJ" placeholder="Search Adjectives">
        </div>
        <button type="submit" class="btn btn-primary" onclick="FilterHistory(true);">Filter</button>
        <button type="submit" class="btn btn-primary" onclick="ClearFilterHistory();">Clear</button>
      </form>
      <p></p>
      <div id="SumbissionHistory"></div>
    </div> <!-- END COLUMN -->
    <div class="col-sm-1"></div>
  </div> <!-- END ROW -->
  
</div> <!-- END CONTIANER -->

<div  style="position:fixed;top:50%;left:50%" id="GetWindowsSpinner"></div>
<div  style="position:fixed;top:50%;left:50%" id="GetSubmissionSpinner"></div>
<div  style="position:fixed;top:50%;left:50%" id="PopWindowPanesSpinner"></div>
<div  style="position:fixed;top:50%;left:50%" id="GetHistorySpinner"></div>
</body>
<footer>
</footer>
</html>
